<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <h1 id="lable">Registration</h1>
        </div>

        <form th:userDo="${userForm}" th:action="@{/registration}" method="post">

            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Login" required autofocus
                   th:field="*{userForm.username}">
            <p></p>
            <input type="password" id="inputPassword" class="fadeIn third" placeholder="Password" required
                   th:field="*{userForm.password}">
            <p></p>
            <input id="button-sub" type="submit" class="fadeIn eighth" value="Sign Up">
        </form>

        <div id="formFooter">
            <a class="underlineHover" href="login">Already have an account? Log in</a>
        </div>
        <output type = "text" th:text="*{usernameError}"> </output>
        <h1> </h1>
        <output type = "text" th:text="*{DataFormatError}"> </output>
    </div>
</div>

</body>
</html>
