<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Result</h1>
<p th:text="'Font: ' + ${temp1.font}" />
<p th:text="'Alignment: ' + ${temp1.alignment}" />
<p th:text="'Font: ' + ${temp1.font}" />
<p th:text="'Font size: ' + ${temp1.font_size}" />
<p th:text="'Interval: ' + ${temp1.interval}" />
<p th:text="'Bold: ' + ${temp1.bold}" />
<p th:text="'Italic: ' + ${temp1.italic}" />
<p th:text="'Underline: ' + ${temp1.underline}" />
<p th:text="'Striken: ' + ${temp1.striken}" />
<p th:text="'Alignment: ' + ${temp1.alignment}" />
<p th:text="'Color: ' + ${temp1.color}" />
<p th:text="'Fields: ' + ${temp1.fields}" />
<p th:text="'Title pag: ' + ${temp1.title_page}" />
<p th:text="'Numeration: ' + ${temp1.numeration}" />
<p th:text="'Footer: ' + ${temp1.footer}" />
<p th:text="'Header: ' + ${temp1.header}" />
<p th:text="'Heading cell text color: ' + ${temp1.heading_cell_text_color}" />
<p th:text="'Heading cell color: ' + ${temp1.heading_cell_color}" />
<p th:text="'Cell border color: ' + ${temp1.cell_border_color}" />
<p th:text="'Common cell color: ' + ${temp1.common_cell_color}" />
<p th:text="'Table Font: ' + ${temp1.t_font}" />
<p th:text="'Table Font Size: ' + ${temp1.t_font_size}" />
<p th:text="'Table Bold: ' + ${temp1.t_bold}" />
<p th:text="'Table Italic: ' + ${temp1.t_italic}" />
<p th:text="'Table Underline: ' + ${temp1.t_underline}" />
<p th:text="'Table Striken: ' + ${temp1.t_striken}" />

</body>
</html>