<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Templater</title>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>






<form th:action="@{/temp}" method="post">
    <div class="col-md-12">
        <select name="cargo_name" id="cargo_name" class="form-control">
            <option value="-----">----- ----</option>
            <option value="base">Title Page</option>
            <option value="first">Header 1</option>
            <option value="second">Header 2</option>
            <option value="third">Header 3</option>
            <option value="fourth">Header 4</option>
            <option value="fifth">Header 5</option>
        </select><br>
        <label><b>Global params</b></label><br>
        <select th:field="*{temp.interval}">
            <option selected value="1.0">Interval</option>
            <option value="1.0">1.0</option>
            <option value="3.0">3.0</option>
        </select><br>
        <select th:field="*{temp.fields}">
            <option selected value="middle">Fields</option>
            <option value="narrow">narrow</option>
            <option value="average">average</option>
            <option value="wide">wide</option>
        </select><br>

        <label><input type="checkbox" value="1" th:field="*{temp.title_page}"><span>Title page</span></label>


        <label><input type="checkbox" value="1" th:field="*{temp.numeration}"><span>Numeration</span></label>


        <label><input type="checkbox" value="1" th:field="*{temp.footer}"><span>Footer</span></label>


        <label><input type="checkbox" value="1" th:field="*{temp.header}"><span>Header</span></label><br>

        <label><b>Local params</b></label><br>
    </div>

    <div class="col-md-12">

        <div  id="Title_Page" >


            <select th:field="*{temp.title_alignment}">
                <option selected value="middle">Alignment</option>
                <option value="left">left</option>
                <option value="right">right</option>
                <option value="middle">middle</option>
                <option value="width">width</option>
            </select><br>

          <div id="Name">


            <label>Input name</label>
            <input type="text" th:field="*{temp.title_name}"><br>


            <select th:field="*{temp.title_name_font}">
                <option  value="Times New Roman" selected>Font</option>
                <option value="Times New Roman">Times New Roman</option>
                <option value="Arial">Arial</option>
            </select>

            <select th:field="*{temp.title_name_font_size}">
                <option selected value="11" d>Font size</option>
                <option value="12">12</option>
                <option value="14">14</option>
            </select>

            <label><input type="checkbox" value="1" th:field="*{temp.title_name_bold}"><span>Bold</span></label>


            <label><input type="checkbox" value="1" th:field="*{temp.title_name_italic}"><span>Italic</span></label>


            <label><input type="checkbox" value="1" th:field="*{temp.title_name_underline}"><span>Underline</span></label><br>




            <label>Text color <input type="color" value="black" th:field="*{temp.title_name_text_color}"></label><br>
            <label>Text highlight color <input type="color" value="black" th:field="*{temp.title_name_text_highlight_color}"></label><br>

            </div>


            <div if="Organization">


            <label>Input Organization</label>
            <input type="text" th:field="*{temp.title_organization}"><br>

                <select th:field="*{temp.title_organization_font}">
                    <option  value="Times New Roman" selected>Font</option>
                    <option value="Times New Roman">Times New Roman</option>
                    <option value="Arial">Arial</option>
                </select>

                <select th:field="*{temp.title_organization_font_size}">
                    <option selected value="11" d>Font size</option>
                    <option value="12">12</option>
                    <option value="14">14</option>
                </select>

                <label><input type="checkbox" value="1" th:field="*{temp.title_organization_bold}"><span>Bold</span></label>


                <label><input type="checkbox" value="1" th:field="*{temp.title_organization_italic}"><span>Italic</span></label>


                <label><input type="checkbox" value="1" th:field="*{temp.title_organization_underline}"><span>Underline</span></label><br>




                <label>Text color <input type="color" value="black" th:field="*{temp.title_organization_text_color}"></label><br>
                <label>Text highlight color <input type="color" value="black" th:field="*{temp.title_organization_text_highlight_color}"></label><br>

            </div>


            <div id="Description">
            <label>Input Description</label>
            <input type="text" th:field="*{temp.title_description}"><br>

                <select th:field="*{temp.title_description_font}">
                    <option  value="Times New Roman" selected>Font</option>
                    <option value="Times New Roman">Times New Roman</option>
                    <option value="Arial">Arial</option>
                </select>

                <select th:field="*{temp.title_description_font_size}">
                    <option selected value="11" d>Font size</option>
                    <option value="12">12</option>
                    <option value="14">14</option>
                </select>

                <label><input type="checkbox" value="1" th:field="*{temp.title_description_bold}"><span>Bold</span></label>


                <label><input type="checkbox" value="1" th:field="*{temp.title_description_italic}"><span>Italic</span></label>


                <label><input type="checkbox" value="1" th:field="*{temp.title_description_underline}"><span>Underline</span></label><br>




                <label>Text color <input type="color" value="black" th:field="*{temp.title_description_text_color}"></label><br>
                <label>Text highlight color <input type="color" value="black" th:field="*{temp.title_description_text_highlight_color}"></label><br>


            </div>

            <div id="Type">
            <select th:field="*{temp.title_type}">
                <option  value="1" selected>Type</option>
                <option value="1">With date</option>
                <option value="2">With date and name</option>
            </select>

                <br><select th:field="*{temp.title_type_alignment}">
                    <option selected value="middle">Alignment</option>
                    <option value="left">left</option>
                    <option value="right">right</option>
                    <option value="middle">middle</option>
                    <option value="width">width</option>
                </select><br>

                <select th:field="*{temp.title_type_font}">
                    <option  value="Times New Roman" selected>Font</option>
                    <option value="Times New Roman">Times New Roman</option>
                    <option value="Arial">Arial</option>
                </select>

                <select th:field="*{temp.title_type_font_size}">
                    <option selected value="11" d>Font size</option>
                    <option value="12">12</option>
                    <option value="14">14</option>
                </select>

                <label><input type="checkbox" value="1" th:field="*{temp.title_type_bold}"><span>Bold</span></label>


                <label><input type="checkbox" value="1" th:field="*{temp.title_type_italic}"><span>Italic</span></label>


                <label><input type="checkbox" value="1" th:field="*{temp.title_type_underline}"><span>Underline</span></label><br>




                <label>Text color <input type="color" value="black" th:field="*{temp.title_type_text_color}"></label><br>
                <label>Text highlight color <input type="color" value="black" th:field="*{temp.title_type_text_highlight_color}"></label><br>


            </div>

        </div>


        <div  id="Header1" >

            <select th:field="*{temp.h1_font}">
                <option  value="Times New Roman" selected>Font</option>
                <option value="Times New Roman">Times New Roman</option>
                <option value="Arial">Arial</option>
            </select>

            <select th:field="*{temp.h1_font_size}">
                <option selected value="11">Font size</option>
                <option value="12">12</option>
                <option value="14">14</option>
            </select>

            <label><input type="checkbox" value="1" th:field="*{temp.h1_bold}"><span>Bold</span></label>


            <label><input type="checkbox" value="1" th:field="*{temp.h1_italic}"><span>Italic</span></label>


            <label><input type="checkbox" value="1" th:field="*{temp.h1_underline}"><span>Underline</span></label><br>



            <select th:field="*{temp.h1_alignment}">
                <option selected value="middle">Alignment</option>
                <option value="left">left</option>
                <option value="right">right</option>
                <option value="middle">middle</option>
                <option value="width">width</option>
            </select><br>

            <label>Text color <input type="color" value="black" th:field="*{temp.h1_text_color}"></label><br>
            <label>Text highlight color <input type="color" value="black" th:field="*{temp.h1_text_highlight_color}"></label><br>

        </div>

        <div  id="Header2" >
            <select th:field="*{temp.h2_font}">
                <option  value="Times New Roman" selected>Font</option>
                <option value="Times New Roman">Times New Roman</option>
                <option value="Arial">Arial</option>
            </select>

            <select th:field="*{temp.h2_font_size}">
                <option selected value="11" d>Font size</option>
                <option value="12">12</option>
                <option value="14">14</option>
            </select>

            <label><input type="checkbox" value="1" th:field="*{temp.h2_bold}"><span>Bold</span></label>


            <label><input type="checkbox" value="1" th:field="*{temp.h2_italic}"><span>Italic</span></label>


            <label><input type="checkbox" value="1" th:field="*{temp.h2_underline}"><span>Underline</span></label><br>





            <select th:field="*{temp.h2_alignment}">
                <option selected value="middle">Alignment</option>
                <option value="left">left</option>
                <option value="right">right</option>
                <option value="middle">middle</option>
                <option value="width">width</option>
            </select><br>

            <label>Text color <input type="color" value="black" th:field="*{temp.h2_text_color}"></label><br>
            <label>Text highlight color <input type="color" value="black" th:field="*{temp.h2_text_highlight_color}"></label><br>

        </div>

        <div  id="Header3" >
            <select th:field="*{temp.h3_font}">
                <option  value="Times New Roman" selected>Font</option>
                <option value="Times New Roman">Times New Roman</option>
                <option value="Arial">Arial</option>
            </select>

            <select th:field="*{temp.h3_font_size}">
                <option selected value="11" d>Font size</option>
                <option value="12">12</option>
                <option value="14">14</option>
            </select>

            <label><input type="checkbox" value="1" th:field="*{temp.h3_bold}"><span>Bold</span></label>


            <label><input type="checkbox" value="1" th:field="*{temp.h3_italic}"><span>Italic</span></label>


            <label><input type="checkbox" value="1" th:field="*{temp.h3_underline}"><span>Underline</span></label><br>





            <select th:field="*{temp.h3_alignment}">
                <option selected value="middle">Alignment</option>
                <option value="left">left</option>
                <option value="right">right</option>
                <option value="middle">middle</option>
                <option value="width">width</option>
            </select><br>

            <label>Text color <input type="color" value="black" th:field="*{temp.h3_text_color}"></label><br>
            <label>Text highlight color <input type="color" value="black" th:field="*{temp.h3_text_highlight_color}"></label><br>

        </div>

        <div  id="Header4" >
            <select th:field="*{temp.h4_font}">
                <option  value="Times New Roman" selected>Font</option>
                <option value="Times New Roman">Times New Roman</option>
                <option value="Arial">Arial</option>
            </select>

            <select th:field="*{temp.h4_font_size}">
                <option selected value="11" d>Font size</option>
                <option value="12">12</option>
                <option value="14">14</option>
            </select>

            <label><input type="checkbox" value="1" th:field="*{temp.h4_bold}"><span>Bold</span></label>


            <label><input type="checkbox" value="1" th:field="*{temp.h4_italic}"><span>Italic</span></label>


            <label><input type="checkbox" value="1" th:field="*{temp.h4_underline}"><span>Underline</span></label><br>





            <select th:field="*{temp.h4_alignment}">
                <option selected value="middle">Alignment</option>
                <option value="left">left</option>
                <option value="right">right</option>
                <option value="middle">middle</option>
                <option value="width">width</option>
            </select><br>

            <label>Text color <input type="color" value="black" th:field="*{temp.h4_text_color}"></label><br>
            <label>Text highlight color <input type="color" value="black" th:field="*{temp.h4_text_highlight_color}"></label><br>

        </div>

        <div  id="Header5" >
            <select th:field="*{temp.h5_font}">
                <option  value="Times New Roman" selected>Font</option>
                <option value="Times New Roman">Times New Roman</option>
                <option value="Arial">Arial</option>
            </select>

            <select th:field="*{temp.h5_font_size}">
                <option selected value="11" d>Font size</option>
                <option value="12">12</option>
                <option value="14">14</option>
            </select>

            <label><input type="checkbox" value="1" th:field="*{temp.h5_bold}"><span>Bold</span></label>


            <label><input type="checkbox" value="1" th:field="*{temp.h5_italic}"><span>Italic</span></label>


            <label><input type="checkbox" value="1" th:field="*{temp.h5_underline}"><span>Underline</span></label><br>





            <select th:field="*{temp.h5_alignment}">
                <option selected value="middle">Alignment</option>
                <option value="left">left</option>
                <option value="right">right</option>
                <option value="middle">middle</option>
                <option value="width">width</option>
            </select><br>

            <label>Text color <input type="color" value="black" th:field="*{temp.h5_text_color}"></label><br>
            <label>Text highlight color <input type="color" value="black" th:field="*{temp.h5_text_highlight_color}"></label><br>

        </div>

        <div id="Table">

            <label><b>Table params</b></label><br>
            <label>Heading cell text color<input type="color"  value="black" th:field="*{temp.table_heading_cell_text_color}"></label><br>
            <label>Heading cell color<input type="color"  value="#95A5A6" th:field="*{temp.table_heading_cell_color}"></label><br>
            <label>Cell border color<input type="color"  value="#95A5A6" th:field="*{temp.table_cell_border_color}"></label><br>
            <label>Common cell color<input type="color"  value="#FDFEFE" th:field="*{temp.table_common_cell_color}"></label><br>
            <select th:field="*{temp.table_font}">
                <option selected value="Times New Roman">Font</option>
                <option value="Times New Roman">Times New Roman</option>
                <option value="Arial">Arial</option>
            </select><br>




            <select  th:field="*{temp.table_font_size}">
                <option selected value="11">Font size</option>
                <option value="12">12</option>
                <option value="14">14</option>
            </select><br>

            <label><input type="checkbox" value="1" th:field="*{temp.table_bold}"><span>Bold</span></label>


            <label><input type="checkbox" value="1" th:field="*{temp.table_italic}"><span>Italic</span></label>



        </div>
    </div>
    <p><input type="submit" value="Submit" />
</form>

<script>
    $(document).ready(function() {
        $('#cargo_name').change(function() {
            if($(this).val() === "base")
            {
                $("#Title_Page").css("display", "block");
                $("#Header1").css("display", "none");
                $("#Header2").css("display", "none");
                $("#Header3").css("display", "none");
                $("#Header4").css("display", "none");
                $("#Header5").css("display", "none");
            }
            if($(this).val() === "first")
            {
                $("#Title_Page").css("display", "none");
                $("#Header1").css("display", "block");
                $("#Header2").css("display", "none");
                $("#Header3").css("display", "none");
                $("#Header4").css("display", "none");
                $("#Header5").css("display", "none");
            }
            if($(this).val() === "second")
            {
                $("#Title_Page").css("display", "none");
                $("#Header1").css("display", "none");
                $("#Header2").css("display", "block");
                $("#Header3").css("display", "none");
                $("#Header4").css("display", "none");
                $("#Header5").css("display", "none");
            }
            if($(this).val() === "third")
            {
                $("#Title_Page").css("display", "none");
                $("#Header1").css("display", "none");
                $("#Header2").css("display", "none");
                $("#Header3").css("display", "block");
                $("#Header4").css("display", "none");
                $("#Header5").css("display", "none");
            }
            if($(this).val() === "fourth")
            {
                $("#Title_Page").css("display", "none");
                $("#Header1").css("display", "none");
                $("#Header2").css("display", "none");
                $("#Header3").css("display", "none");
                $("#Header4").css("display", "block");
                $("#Header5").css("display", "none");
            }
            if($(this).val() === "fifth")
            {
                $("#Title_Page").css("display", "none");
                $("#Header1").css("display", "none");
                $("#Header2").css("display", "none");
                $("#Header3").css("display", "none");
                $("#Header4").css("display", "none");
                $("#Header5").css("display", "block");
            }
        });
    });
</script>

</body>
</html>