<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Result</h1>

<h2>Global parapms</h2>
<p th:text="'Fields: ' + ${temp.fields}" />
<p th:text="'Title page: ' + ${temp.title_page}" />
<p th:text="'Numeration: ' + ${temp.numeration}" />
<p th:text="'Footer: ' + ${temp.footer}" />
<p th:text="'Header: ' + ${temp.header}" />
<p th:text="'Interval: ' + ${temp.interval}" />

<h2>Table parapms</h2>
<p th:text="'Heading cell text color: ' + ${temp.table_heading_cell_text_color}" />
<p th:text="'Heading cell color: ' + ${temp.table_heading_cell_color}" />
<p th:text="'Cell border color: ' + ${temp.table_cell_border_color}" />
<p th:text="'Common cell color: ' + ${temp.table_common_cell_color}" />
<p th:text="'Table Font: ' + ${temp.table_font}" />
<p th:text="'Table Font Size: ' + ${temp.table_font_size}" />
<p th:text="'Table Bold: ' + ${temp.table_bold}" />
<p th:text="'Table Italic: ' + ${temp.table_italic}" />

<h2>Local parapms</h2>
<h3>First Header</h3>
<p th:text="'Alignment: ' + ${temp.h1_alignment}" />
<p th:text="' Font: ' + ${temp.h1_font}" />
<p th:text="'Font size: ' + ${temp.h1_font_size}" />
<p th:text="'Bold: ' + ${temp.h1_bold}" />
<p th:text="'Italic: ' + ${temp.h1_italic}" />
<p th:text="'Underline: ' + ${temp.h1_underline}" />
<p th:text="'Alignment: ' + ${temp.h1_alignment}" />
<p th:text="'Color: ' + ${temp.h1_text_color}" />
<p th:text="'Color: ' + ${temp.h1_text_highlight_color}" />


<h3>Second Header</h3>
<p th:text="'Alignment: ' + ${temp.h2_alignment}" />
<p th:text="' Font: ' + ${temp.h2_font}" />
<p th:text="'Font size: ' + ${temp.h2_font_size}" />
<p th:text="'Bold: ' + ${temp.h2_bold}" />
<p th:text="'Italic: ' + ${temp.h2_italic}" />
<p th:text="'Underline: ' + ${temp.h2_underline}" />
<p th:text="'Alignment: ' + ${temp.h2_alignment}" />
<p th:text="'Color: ' + ${temp.h2_text_color}" />
<p th:text="'Color: ' + ${temp.h2_text_highlight_color}" />

<h3>Third Header</h3>
<p th:text="'Alignment: ' + ${temp.h3_alignment}" />
<p th:text="' Font: ' + ${temp.h3_font}" />
<p th:text="'Font size: ' + ${temp.h3_font_size}" />
<p th:text="'Bold: ' + ${temp.h3_bold}" />
<p th:text="'Italic: ' + ${temp.h3_italic}" />
<p th:text="'Underline: ' + ${temp.h3_underline}" />
<p th:text="'Alignment: ' + ${temp.h3_alignment}" />
<p th:text="'Color: ' + ${temp.h3_text_color}" />
<p th:text="'Color: ' + ${temp.h3_text_highlight_color}" />

<h3>Fourth Header</h3>
<p th:text="'Alignment: ' + ${temp.h4_alignment}" />
<p th:text="' Font: ' + ${temp.h4_font}" />
<p th:text="'Font size: ' + ${temp.h4_font_size}" />
<p th:text="'Bold: ' + ${temp.h4_bold}" />
<p th:text="'Italic: ' + ${temp.h4_italic}" />
<p th:text="'Underline: ' + ${temp.h4_underline}" />
<p th:text="'Alignment: ' + ${temp.h4_alignment}" />
<p th:text="'Color: ' + ${temp.h4_text_color}" />
<p th:text="'Color: ' + ${temp.h4_text_highlight_color}" />

<h3>Fifth Header</h3>
<p th:text="'Alignment: ' + ${temp.h5_alignment}" />
<p th:text="' Font: ' + ${temp.h5_font}" />
<p th:text="'Font size: ' + ${temp.h5_font_size}" />
<p th:text="'Bold: ' + ${temp.h5_bold}" />
<p th:text="'Italic: ' + ${temp.h5_italic}" />
<p th:text="'Underline: ' + ${temp.h5_underline}" />
<p th:text="'Alignment: ' + ${temp.h5_alignment}" />
<p th:text="'Color: ' + ${temp.h5_text_color}" />
<p th:text="'Color: ' + ${temp.h5_text_highlight_color}" />
</body>
</html>