<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test page</title>
</head>
<body>
<form th:userDo="${userForm}" th:action="@{/registration}" method="post">

    <input type="text" id="test" class="fadeIn second" name="test" placeholder="test" required autofocus
           th:field="*{userForm.field}" th:value="*{userForm.field}">
    <input type="text" id="test1" class="fadeIn second" name="test1" placeholder="test1" required autofocus
           th:field="*{userForm.field}" th:value="*{userForm.field}">

</form>
</body>
</html>